<div class="this_center">
  	<div class="container-fluid">
    	<div class="row formWidth">
				<div class="login-panel panel panel-success">
					<div class="panel-heading">
            <h3 class="panel-title">Forgot Password</h3>
                </div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                				<form #forgotForm="ngForm">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username / Email" ngModel autofocus="true">
									</div>
									<p *ngIf="notification_messages" class="text-center text-success">{{notification_messages}}</p>
					               
									<div class="form-group">
										<div class="row">
											<div class="col-sm-12">
												<button type="submit" id="register-submit" tabindex="4" class="btn btn-lg btn-success" (click)="forgotPassword(forgotForm.value)">Submit</button>
											</div>
											<p class="loginForm-bottom">
                        <a class="signup"  routerLink="/login">Login</a>
                        	</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
		</div>
  	</div>
</div>