
.profileInfo .panel-body{
    margin: 5px 0;
}
.profileInfo .form-group {
    margin-bottom: 15px;
}
.btn-block {
    width: 330px;
    display: block;
    margin: auto;
}
.this_center{
    padding-top: 110px;
}
.form-control {
    height: 45px;
    font-size: 16px;
    border: 1px solid #ddd;
}
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
    margin-top: 55px;
}